@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&family=Kalam:wght@300&family=Satisfy&display=swap');
#mainContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}
#cardName{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

#cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 40px 40px;
    justify-content: space-between;
}
.votes{
    color: white;
    font-family: 'Satisfy', cursive;
    padding: 10px;
    font-size: 2rem;
    margin: 10px;


}
.cardName{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 2.9rem;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    margin:5px;
}
.cardHeader .btnReset{
    height: auto;
    padding: 3px 10px;
    margin: auto 10px;
    font-size: 1.5rem;
    background-color: white;
    color: magenta;
    border-radius: 10px;
    border: 1px solid magenta;
    background-color: transparent;
    font-family: 'Satisfy', cursive;


    
}
  
  .icon-click {
    color: magenta;
  }

  /* **********************form CSS****************** */
  .clientdeets{
    font-size: 20px;
    color: white;
}
.myformControl{
    border: none;
    border-bottom: 1px solid white;
    outline: none; 
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out
    
}
fieldset{
    padding: 25px;
    border-radius: 10px;
}
#submit{
    background-color: magenta;
    border: 1px white solid;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
legend{
    color: white;
    font-size: 1.5rem;
}
#heading{
    color: white;
    text-align: center;
}
em{
    font-style: normal;
    color: magenta;
}
